DATABASE_URL="postgresql://username:password@host:5432/postgres?pgbouncer=true&statement_cache_size=0"
DIRECT_URL="postgresql://username:password@host:5432/postgres"

FACULTY_ACCESS_KEY="your-faculty-access-key"
JWT_SECRET="your-jwt-secret-key"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
